h1{
    color: purple;
    text-align: center;
}

.encodeDecode {
    display: flex;
    justify-content: space-around;
}

textarea {
    height: 200px;
    width: 400px;
    border: 1px solid black;
    padding: 0px;
}

label {
    display: block;
}

.displayArea {
    border: 1px solid black;
    height: 200px;
    width: 400px;
}

